TFS2TestRailXML/Resources/TestRail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="suite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="sections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="description" />
                    <xs:element name="cases">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="case">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:string" />
                                <xs:element name="title" type="xs:string" />
                                <xs:element name="type" type="xs:string" />
                                <xs:element name="priority" type="xs:string" />
                                <xs:element name="estimate" />
                                <xs:element name="references" />
                                <xs:element name="custom">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="description" type="xs:string" />
                                      <xs:element name="steps_separated">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="step">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="index" type="xs:unsignedByte" />
                                                  <xs:element name="content" type="xs:string" />
                                                  <xs:element name="expected" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="sections">
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>